header
    h3 Navigation
    ul
        li: a(href="/") Home
        li: a(href="/api/user/login") Login (ei toimi vielä)
        li: a(href="/api/user/register") Register
        li: a(href="/") Logout (ei toimi vielä)